.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.page_title {
  color: aquamarine;
  text-align: center;
  margin-bottom: 50px;
}

.inputJS {
  display: block;
  padding-left: 10 px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  height: 40px;
  width: 300px;
  border-color: #777777;
  border-radius: 5px;
}
.countries_list {
}
